<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1>Smart Home</small>
				</h1>
			</div>
			<!-- Status LED-->

			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">TRẠNG THÁI ĐÈN</h3>
					<div>Đèn trần:    {{F1_D06 ? "ON" : "OFF"}}
						<button ng-click="changeDenTran()" type="button">ON/OFF</button>
					</div>
					<div>Đèn chùm:     {{F1_D07 ? "ON" : "OFF"}}
						<button ng-click="changeDenChum()" type="button">ON/OFF</button>
					</div>
					<div>Đèn tranh:     {{F1_D08 ? "ON" : "OFF"}}
						<button ng-click="changeDenTranh()" type="button">ON/OFF</button>
					</div>

				</div>

			</div>
		
			<!-- -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<h3>
					Nhiệt độ : {{temp}}
				</h3>
				<h3>
					Độ ẩm : {{humi}}
				</h3>
				<h3>
					Khí CO : {{co}}
				</h3>

			</div>

		</div>
	</div>
</div>